<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>League Battle Stages.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Ranked Battle Stages.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Regular Battle Stages.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Salmon Run Schedule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Splatoon 2 Stages WatchKit App (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Splatoon 2 Stages WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Splatoon 2 Stages.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Stages Watch (Complication).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Stages Watch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>543E602A1F566FF6007DA88D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>543E604B1F567113007DA88D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>543E60691F5672B2007DA88D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54712C381F549F18004B9249</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54C7033A1F56FDB8002A8D76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54C776CF1F570A4E002F06E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
